pipeline/Daily_Sales.json
{
	"name": "Daily_Sales",
	"properties": {
		"activities": [
			{
				"name": "get_sales_file_details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dailysales_folder",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'GMT Standard Time'), 'yyyy-MM-dd')\n",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "daily_sales_filecount_check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_sales_file_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('get_sales_file_details').output.childItems,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "set_filecount",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sales_files_array",
								"value": {
									"value": "@activity('get_sales_file_details').output.childItems",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"sales_files_array": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}