pipeline/SupplierCostPriceHistory.json
{
	"name": "SupplierCostPriceHistory",
	"properties": {
		"activities": [
			{
				"name": "get_productmaster_details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "product_master",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'GMT Standard Time'), 'yyyy-MM-dd')\n",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "iterate_productmaster_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_productmaster_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_productmaster_details').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "get_metadata_for_file",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "product_master_file",
									"type": "DatasetReference",
									"parameters": {
										"date": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'GMT Standard Time'), 'yyyy-MM-dd')",
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"columnCount",
									"structure"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "coulm_validation_checks",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "get_metadata_for_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(\n    equals(activity('get_metadata_for_file').output.columnCount, 8),\n    and(\n        contains(string(activity('get_metadata_for_file').output.structure), 'ProductID'),\n        and(\n            contains(string(activity('get_metadata_for_file').output.structure), 'ProductName'),\n            and(\n                contains(string(activity('get_metadata_for_file').output.structure), 'Category'),\n                and(\n                    contains(string(activity('get_metadata_for_file').output.structure), 'CategoryID'),\n                    and(\n                        contains(string(activity('get_metadata_for_file').output.structure), 'Description'),\n                        and(\n                            contains(string(activity('get_metadata_for_file').output.structure), 'UnitOfMeasure'),\n                            and(\n                                contains(string(activity('get_metadata_for_file').output.structure), 'StartDate'),\n                                contains(string(activity('get_metadata_for_file').output.structure), 'DeleteFlag')\n                            )\n                        )\n                    )\n                )\n            )\n        )\n    )\n)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "invalid_productmaster_files",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "invalid_productmaster_files",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "valid_product_master_files",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "valid_productmaster_files",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "all_sales_files_valid_check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "iterate_productmaster_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\n    length(variables('valid_productmaster_files')),\n    length(activity('get_productmaster_details').output.childItems\n)\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "invalid_productmaster_alert",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@pipeline().parameters.error_url",
									"type": "Expression"
								},
								"body": {
									"value": "@json(\n    concat(\n        '{',\n            '\"title\": \"Product Master Error - Invalid Product Master Excel File - ',\n                formatDateTime(convertTimeZone(utcNow(), 'UTC', 'GMT Standard Time'), 'yyyy-MM-dd'),\n            '\",',\n            '\"text\": \"Please find the Invalid Product Master Excel for the day: ',\n                join(variables('invalid_productmaster_files'), ', '),\n            '\"',\n        '}'\n    )\n)\n",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "prodictmaster_job",
							"type": "DatabricksJob",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"jobId": "440745808710623"
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks_ls",
								"type": "LinkedServiceReference",
								"parameters": {
									"cluster_version": {
										"value": "@pipeline().globalParameters.cluster_version",
										"type": "Expression"
									},
									"cluster_nodetype": {
										"value": "@pipeline().globalParameters.cluster_nodetype",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "productmaster_dlt_alert",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "prodictmaster_job",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@pipeline().parameters.error_url",
									"type": "Expression"
								},
								"body": {
									"value": "@json(\n    concat(\n        '{',\n            '\"title\": \"Product Master Error - ',\n                formatDateTime(convertTimeZone(utcNow(), 'UTC', 'GMT Standard Time'), 'yyyy-MM-dd'),\n            '\",',\n            '\"text\": \"Product Master DLT failed\"',\n        '}'\n    )\n)\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"error_url": {
				"type": "string"
			},
			"error_message": {
				"type": "string"
			}
		},
		"variables": {
			"valid_productmaster_files": {
				"type": "Array"
			},
			"invalid_productmaster_files": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}