pipeline/Supplier_Orders.json
{
	"name": "Supplier_Orders",
	"properties": {
		"activities": [
			{
				"name": "check_supplier_order_file",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('supplier_orders_file_exists'), true)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "supplier_order_metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "supplier_order_file",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists",
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "if_file_exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "supplier_order_metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('supplier_order_metadata').output.childItems), 0)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "set_supplier_orders_result",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "supplier_orders_file_exists",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "0.00:01:00"
				}
			},
			{
				"name": "no_files_alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "check_supplier_order_file",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@pipeline().parameters.error_url",
						"type": "Expression"
					},
					"body": {
						"value": "@json(\n    concat(\n        '{',\n            '\"title\": \"Supplier Order Error - No Orders Files Found - ',\n                formatDateTime(convertTimeZone(utcNow(), 'UTC', 'GMT Standard Time'), 'yyyy-MM-dd'),\n            '\",',\n            '\"text\": \"No Supplier Order files found for the day.\"',\n        '}'\n    )\n)\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"error_url": {
				"type": "string"
			},
			"error_message": {
				"type": "string"
			}
		},
		"variables": {
			"supplier_orders_file_exists": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}